/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05.01.2015, 15:12:50
    Author     : Illustrator
*/

.show-grid {
    margin-bottom: 15px;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.panel-footer .pagination {
  margin:0;
}